* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ----------------------Debut Header---------------------- */
header {
  width: 100%;
  height: 55vh;
  background-image: url("img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}
.barNav {
  display: flex;
  flex-direction: row;
  margin: 1%;
}
.logo {
  width: 100%;
  height: 60%;
  background-image: url("img/massifLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 1%;
}
.nav {
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 7%;
  margin-right: 5%;
}
.bNav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
.titleHeader {
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 10%;
  margin-top: 2%;
  letter-spacing: 8px;
}
.starsLogo {
  width: 100%;
  height: 15%;
  background-image: url("img/Stars.png");
  background-repeat: no-repeat;
  background-position: center;
}
.presentationHeader {
  font-size: 22px;
  margin: 50px 150px 0;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-weight: 500;
}
/* ---------------------- Fin Header ---------------------- */
/* ---------------------- Presentation Massif ---------------------- */
.presentationMassif {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  margin: 5% 0;
}
.presentationMassif .mountainImg {
  flex: 1;
  background-image: url("img/bienvenue.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50%;
}
.presentationMassif .articleMountain {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.presentationMassif .articleMountain h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 35px;
  letter-spacing: 3px;
}
.presentationMassif .articleMountain p {
  font-size: 20px;
  margin: 5% 0;
  margin-right: 5%;
  color: #2D6187;
  letter-spacing: 1px;
  line-height: 180%;
  overflow-wrap: break-word;
}
.presentationMassif .articleMountain .buttonMountain {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 180px;
  height: 5vh;
  border: 2px solid #323232;
}
.presentationMassif .articleMountain .buttonMountain a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  color: #2D6187;
  flex: 2;
  margin: 0 0 0 20px;
  overflow: clip;
}
.presentationMassif .articleMountain .buttonMountain a .imgButton {
  flex: 1;
  width: 20px;
  height: 30px;
  background-image: url("img/btn.png");
  background-repeat: no-repeat;
  background-position: center;
}
/* ---------------------- Chambres ---------------------- */
.chambres {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EFFAD3;
}
.chambres h2 {
  font-size: 40px;
  margin-top: 3%;
  font-family: 'Playfair Display', serif;
  letter-spacing: 3px;
}
.chambres p {
  font-size: 22px;
  margin: 2% 0;
  color: #2D6187;
  letter-spacing: 1px;
  text-align: center;
}
.chambres .imgChambres {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 7%;
}
.chambres .imgChambres :nth-child(1) {
  width: 20%;
  height: 100%;
  background-image: url("img/solo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.chambres .imgChambres :nth-child(2) {
  width: 20%;
  height: 100%;
  background-image: url("img/double.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
.chambres .imgChambres :nth-child(3) {
  width: 20%;
  height: 100%;
  background-image: url("img/famille.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
.chambres .detailsChambres {
  width: 110vh;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chambres .detailsChambres :nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.chambres .detailsChambres :nth-child(1) p:nth-of-type(1) {
  font-size: 35px;
  font-weight: 600;
  color: #323232;
  align-items: center;
  justify-content: center;
}
.chambres .detailsChambres :nth-child(1) p:nth-of-type(2) {
  font-size: 20px;
  color: #28ABB9;
  align-items: center;
  justify-content: center;
}
.chambres .detailsChambres :nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.chambres .detailsChambres :nth-child(2) p:nth-of-type(1) {
  font-size: 35px;
  font-weight: 600;
  color: #323232;
  align-items: center;
  justify-content: center;
}
.chambres .detailsChambres :nth-child(2) p:nth-of-type(2) {
  font-size: 20px;
  color: #28ABB9;
  align-items: center;
  justify-content: center;
}
.chambres .detailsChambres :nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.chambres .detailsChambres :nth-child(3) p:nth-of-type(1) {
  font-size: 35px;
  font-weight: 600;
  color: #323232;
  align-items: center;
  justify-content: center;
}
.chambres .detailsChambres :nth-child(3) p:nth-of-type(2) {
  font-size: 20px;
  color: #28ABB9;
  align-items: center;
  justify-content: center;
}
/* ---------------------- Nos Services ---------------------- */
.services {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services h3 {
  font-size: 40px;
  margin-top: 3%;
  margin-bottom: 5%;
  font-family: 'Playfair Display', serif;
  letter-spacing: 3px;
}
.services :nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20vw;
  column-gap: 5%;
}
.services :nth-child(2) :nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vh;
  height: 100%;
}
.services :nth-child(2) :nth-child(1) :nth-child(1) {
  width: 10vh;
  height: 10vh;
  background-image: url(img/piscine.png);
  background-repeat: no-repeat;
  position: relative;
  right: 22%;
  top: 10%;
}
.services :nth-child(2) :nth-child(1) p {
  text-align: left;
  padding: 0 2vh;
}
.services :nth-child(2) :nth-child(1) p:nth-of-type(1) {
  font-size: 35px;
  font-weight: 400;
  align-items: flex-start;
}
.services :nth-child(2) :nth-child(1) p:nth-of-type(2) {
  font-size: 18px;
  padding-bottom: 4vh;
}
.services :nth-child(2) :nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 100%;
}
.services :nth-child(2) :nth-child(2) :nth-child(1) {
  width: 15vh;
  height: 15vh;
  background-image: url(img/wi_fi.png);
  background-repeat: no-repeat;
  position: relative;
  right: 15%;
  top: 10%;
}
.services :nth-child(2) :nth-child(2) p {
  text-align: left;
  padding: 0 2vh;
}
.services :nth-child(2) :nth-child(2) p:nth-of-type(1) {
  font-size: 35px;
  font-weight: 400;
  align-items: flex-start;
}
.services :nth-child(2) :nth-child(2) p:nth-of-type(2) {
  font-size: 18px;
  padding-bottom: 4vh;
}
.services :nth-child(2) :nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 100%;
}
.services :nth-child(2) :nth-child(3) :nth-child(1) {
  width: 15vh;
  height: 15vh;
  background-image: url(img/toque.png);
  background-repeat: no-repeat;
  position: relative;
  right: 15%;
  top: 10%;
}
.services :nth-child(2) :nth-child(3) p {
  text-align: left;
  padding: 0 2vh;
}
.services :nth-child(2) :nth-child(3) p:nth-of-type(1) {
  font-size: 35px;
  font-weight: 400;
  align-items: flex-start;
}
.services :nth-child(2) :nth-child(3) p:nth-of-type(2) {
  font-size: 18px;
  padding-bottom: 4vh;
}
.border {
  border: 2px solid #28ABB9;
  border-radius: 0 0 0 5% ;
}
/* ---------------------- HEBERGEMENT ---------------------- */
.discover {
  width: 100%;
  height: 40vh;
  background-image: url("img/hebergement.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.discover :nth-of-type(1) {
  font-size: 35px;
  font-family: 'Playfair Display', serif;
}
.discover :nth-of-type(2) {
  font-size: 50px;
  font-family: 'Playfair Display', serif;
}
.discover :nth-child(3) {
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16vh;
  height: 45px;
  border: 1px solid #28ABB9;
  background-color: #28ABB9;
  border-radius: 6px;
}
.discover :nth-child(3) a {
  text-transform: uppercase;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
/* ---------------------- AVIS-CLIENT ---------------------- */
.avisClient {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2%;
  margin: 40px 0 0;
}
.avisClient h4 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
}
.avisClient p {
  font-size: 20px;
  color: #28ABB9;
}
.avisClient .commentary {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 40%;
  column-gap: 10%;
  margin-top: 10vh;
}
.avisClient .commentary .com1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  height: 100%;
  background-color: #a8dda8;
  padding: 10px 30px;
  border-radius: 0 0 25px 0;
}
.avisClient .commentary .com1 :nth-child(1) div {
  width: 15vw;
  height: 15vh;
  background-image: url("img/Edward.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.avisClient .commentary .com1 :nth-child(2) div {
  width: 3vw;
  height: 3vh;
  background-image: url("img/guimet_haut.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.avisClient .commentary .com1 :nth-child(2) p {
  font-size: 22px;
  color: black;
  padding-top: 15px;
}
.avisClient .commentary .com1 :nth-child(3) {
  display: flex;
  flex-direction: column;
}
.avisClient .commentary .com1 :nth-child(3) p {
  font-size: 20px;
  padding-top: 30px;
  color: #2D6187;
}
.avisClient .commentary .com1 :nth-child(3) div {
  width: 3vw;
  height: 3vh;
  background-image: url("img/guimet_bas.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-self: flex-end;
}
.avisClient .commentary .com2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  height: 100%;
  background-color: #a8dda8;
  padding: 10px 30px;
  border-radius: 0 0 25px 0;
}
.avisClient .commentary .com2 :nth-child(1) div {
  width: 15vh;
  height: 15vh;
  background-image: url("img/Mike.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.avisClient .commentary .com2 :nth-child(2) div {
  width: 3vw;
  height: 3vh;
  background-image: url("img/guimet_haut.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.avisClient .commentary .com2 :nth-child(2) p {
  font-size: 22px;
  color: black;
  padding-top: 15px;
}
.avisClient .commentary .com2 :nth-child(3) {
  display: flex;
  flex-direction: column;
}
.avisClient .commentary .com2 :nth-child(3) p {
  font-size: 20px;
  padding-top: 30px;
  color: #2D6187;
}
.avisClient .commentary .com2 :nth-child(3) div {
  width: 3vw;
  height: 3vh;
  background-image: url("img/guimet_bas.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-self: flex-end;
}
/* ---------------------- AVIS-CLIENT ---------------------- */
@media screen and (max-width: 1280px) {
  .services {
    height: 80vh;
  }
  .services :nth-child(2) {
    height: 46vh;
  }
  .services :nth-child(2) :nth-child(1) {
    width: 20vw;
  }
  .services :nth-child(2) :nth-child(1) :nth-child(1) {
    width: 10vw;
    height: 10vh;
    right: 17%;
    top: 10%;
  }
  .services :nth-child(2) :nth-child(1) p {
    text-align: left;
    padding: 0 2vh;
  }
  .services :nth-child(2) :nth-child(1) p:nth-of-type(1) {
    font-size: 35px;
    font-weight: 400;
    align-items: flex-start;
  }
  .services :nth-child(2) :nth-child(1) p:nth-of-type(2) {
    font-size: 18px;
    padding-bottom: 4vh;
  }
  .services {
    height: 80vh;
  }
  .services :nth-child(2) :nth-child(2) {
    width: 20vw;
  }
  .services :nth-child(2) :nth-child(2) :nth-child(1) {
    width: 10vw;
    height: 10vh;
    right: 17%;
    top: 10%;
  }
  .services :nth-child(2) :nth-child(2) p {
    text-align: left;
    padding: 0 2vh;
  }
  .services :nth-child(2) :nth-child(2) p:nth-of-type(1) {
    font-size: 35px;
    font-weight: 400;
    align-items: flex-start;
  }
  .services :nth-child(2) :nth-child(2) p:nth-of-type(2) {
    font-size: 18px;
    padding-bottom: 4vh;
  }
  .services {
    height: 80vh;
  }
  .services :nth-child(2) :nth-child(3) {
    width: 20vw;
  }
  .services :nth-child(2) :nth-child(3) :nth-child(1) {
    width: 10vw;
    height: 10vh;
    right: 17%;
    top: 10%;
  }
  .services :nth-child(2) :nth-child(3) p {
    text-align: left;
    padding: 0 2vh;
  }
  .services :nth-child(2) :nth-child(3) p:nth-of-type(1) {
    font-size: 35px;
    font-weight: 400;
    align-items: flex-start;
  }
  .services :nth-child(2) :nth-child(3) p:nth-of-type(2) {
    font-size: 18px;
    padding-bottom: 4vh;
  }
}
@media screen and (max-width: 768px) {
  .presentationMassif .articleMountain h1 {
    font-size: 20px;
  }
  .presentationMassif .articleMountain p {
    font-size: 14px;
  }
  .presentationMassif .articleMountain .buttonMountain {
    flex-shrink: 10%;
  }
  .presentationMassif .articleMountain .buttonMountain .imgButton {
    flex-shrink: 10%;
  }
}
@media screen and (max-width: 320px) {
  header {
    background-position: right;
  }
  .barNav {
    flex-direction: column;
    align-items: center;
  }
  .barNav .logo {
    align-self: center;
    background-position: center;
  }
  .barNav .nav {
    height: 10vh;
  }
  .barNav .nav .bNav {
    padding-top: 10px;
  }
  .barNav .nav .bNav a {
    font-size: 8px;
    flex-wrap: wrap;
  }
  .titleHeader {
    font-size: 20px;
    margin-top: 30px;
  }
  .starsLogo {
    width: 30vh;
    height: 10%;
    align-self: center;
    background-size: contain;
    margin: 0 0 30px;
  }
  .presentationHeader {
    font-size: 12px;
    width: 100%;
    align-self: center;
    padding: 0 50px;
    margin: 0;
  }
  .presentationMassif {
    height: 0.1%;
    background-color: #2D6187;
    background-image: url(img/bienvenue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
  .presentationMassif .mountainImg {
    display: none;
  }
  .presentationMassif .articleMountain {
    margin: 20px 20px;
    background-color: #3b3b3b5d;
    padding: 20px;
    color: white;
  }
  .presentationMassif .articleMountain h1 {
    font-size: 15px;
  }
  .presentationMassif .articleMountain p {
    font-size: 12px;
    color: white;
  }
  .presentationMassif .articleMountain .buttonMountain {
    flex-shrink: 1%;
    border: 1px solid white;
    width: 135px;
  }
  .presentationMassif .articleMountain .buttonMountain a {
    color: white;
    font-size: 14px;
  }
  .presentationMassif .articleMountain .buttonMountain .imgButton {
    display: none;
  }
}
